.light-card {
	background: var(--card-bg-lightWhite);
	filter: drop-shadow(0px 16px 30px rgba(70, 96, 187, 0.2));
}

.dark-card {
	background: var(--card-bg-darkBlue);
	filter: drop-shadow(-3px 5px 13px rgba(24, 25, 29, 0.7));
}

.card-container {
	display: flex;
	align-items: center;
	min-width: 25rem;
	max-width: 100%;
	border-radius: 1rem;
	padding: 0.7rem;
	margin-bottom: 2rem;
}
